/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

button {
  cursor: pointer;
}

img {
  max-width: 100%;
}

.btn {
  border: none;
  padding: 8px 30px;
  margin: 5px;
  border-radius: 8px;
  font-size: 0.9rem;
  outline: none;
  -webkit-transition: -webkit-box-shadow background-color;
  transition: -webkit-box-shadow background-color;
  transition: box-shadow background-color;
  transition: box-shadow background-color, -webkit-box-shadow background-color;
  -webkit-transition-duration: 200ms;
          transition-duration: 200ms;
  cursor: pointer;
}

.btn:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}

.btn.green {
  background-color: #16b316;
  color: #fff;
}

.btn.green:hover, .btn.green:focus {
  background-color: #108610;
}

.btn.green-outline {
  background-color: transparent;
  color: #16b316;
  border: 1px solid #16b316;
}

.btn.green-outline:hover {
  background-color: #16b316;
  color: #fff;
}

.btn.blue {
  background-color: #3122fc;
  color: #fff;
}

.btn.blue:hover, .btn.blue:focus {
  background-color: #1303e8;
}

.btn.blue-outline {
  background-color: transparent;
  color: #3122fc;
  border: 1px solid #3122fc;
}

.btn.blue-outline:hover {
  background-color: #3122fc;
  color: #fff;
}

.btn.red {
  background-color: tomato;
  color: #fff;
}

.btn.red:hover, .btn.red:focus {
  background-color: #ff3814;
}

.btn.red-outline {
  background-color: transparent;
  color: tomato;
  border: 1px solid tomato;
}

.btn.red-outline:hover {
  background-color: tomato;
  color: #fff;
}

.btn.orange {
  background-color: orange;
  color: #fff;
}

.btn.orange:hover, .btn.orange:focus {
  background-color: #cc8400;
}

.btn.orange-outline {
  background-color: transparent;
  color: orange;
  border: 1px solid orange;
}

.btn.orange-outline:hover {
  background-color: orange;
  color: #fff;
}

.btn.light {
  background-color: #efefef;
  color: #000;
}

.btn.light:hover, .btn.light:focus {
  background-color: #d6d6d6;
}

.btn.light-outline {
  background-color: transparent;
  color: #efefef;
  border: 1px solid #efefef;
}

.btn.light-outline:hover {
  background-color: #efefef;
  color: #000;
}

.btn.dark {
  background-color: #23232e;
  color: #fff;
}

.btn.dark:hover, .btn.dark:focus {
  background-color: #0d0d11;
}

.btn.dark-outline {
  background-color: transparent;
  color: #23232e;
  border: 1px solid #23232e;
}

.btn.dark-outline:hover {
  background-color: #23232e;
  color: #fff;
}

nav {
  position: relative;
}

nav.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 64px;
  padding: 0 1rem;
}

nav.navbar .logo {
  margin-right: 2rem;
}

nav.navbar .logo h1 {
  font-size: 1.5rem;
}

nav.navbar .menuToggler {
  display: none;
  border: none;
  background: none;
  outline: none;
  -webkit-transition: -webkit-transform 0.2s ease;
  transition: -webkit-transform 0.2s ease;
  transition: transform 0.2s ease;
  transition: transform 0.2s ease, -webkit-transform 0.2s ease;
}

nav.navbar ul.links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: height width transform;
  transition: height width transform;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
  max-height: 80vh;
  overflow: auto hidden;
}

nav.navbar ul.links::-webkit-scrollbar {
  width: 0;
}

nav.navbar ul.links li {
  font-size: 0.9rem;
}

nav.navbar ul.links li > *:first-child {
  display: block;
  padding: 1rem 0;
  padding-left: 2rem;
}

@media only screen and (max-width: 990px) {
  nav.navbar .menuToggler {
    display: block;
  }
  nav.navbar.active button.menuToggler {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  nav.navbar.active ul.links {
    -webkit-box-shadow: -2px 2px 25px 1px #0000001c;
            box-shadow: -2px 2px 25px 1px #0000001c;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: 200px;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  nav.navbar ul.links {
    position: absolute;
    top: 55px;
    right: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #fff;
    overflow: auto;
    padding: 2rem 0;
    border-radius: 20px;
    height: 0;
    width: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  nav.navbar ul.links li {
    width: 100%;
    text-align: center;
    cursor: pointer;
    background-color: #fff;
  }
  nav.navbar ul.links li:hover {
    background-color: #fafafa;
  }
  nav.navbar ul.links li > *:first-child {
    padding: 2rem 0;
  }
}

body.with-navbar {
  padding-top: 64px;
}

nav.navbar.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 1000;
}

nav.navbar ul.links {
  overflow: visible;
}

nav.navbar .dropdown {
  position: relative;
  cursor: pointer;
}

nav.navbar .dropdown .dropdown {
  position: unset;
}

nav.navbar .dropdown .dropdown ul {
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

nav.navbar .dropdown ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 50px;
  right: 0;
  background-color: #fff;
  -webkit-box-shadow: -2px 2px 25px 1px #0000001c;
          box-shadow: -2px 2px 25px 1px #0000001c;
  border-radius: 10px;
  padding: 20px 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform;
  transition: -webkit-transform;
  transition: transform;
  transition: transform, -webkit-transform;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
  background-color: #fff;
  z-index: 1000;
}

nav.navbar .dropdown ul li {
  width: 100%;
  text-align: center;
  cursor: pointer;
  background-color: #fff;
  line-height: 1.5;
}

nav.navbar .dropdown ul li:hover {
  background-color: #fafafa;
}

nav.navbar .dropdown ul li > *:first-child {
  padding: 1rem 2rem;
}

nav.navbar .dropdown.active > ul {
  -webkit-box-shadow: -2px 2px 25px 1px #0000001c;
          box-shadow: -2px 2px 25px 1px #0000001c;
  -webkit-transform: scale(1);
          transform: scale(1);
}

@media only screen and (max-width: 990px) {
  nav.navbar {
    position: relative;
  }
  nav.navbar .dropdown {
    position: unset;
  }
  nav.navbar .dropdown ul {
    width: 100%;
    height: 100%;
    top: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  nav.navbar .dropdown ul li > *:first-child {
    padding: 2rem 2rem;
  }
}

.block {
  width: 100%;
}

.heading {
  font-size: 1.5rem;
  font-weight: 100;
  margin-bottom: 1rem;
}

.heading-description {
  font-size: 0.9rem;
  margin-bottom: 1rem;
}

.bold {
  font-weight: 600;
}

.container {
  padding: 1rem;
}

html {
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

body {
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

code {
  font-family: monospace;
}

/* width */
::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #dbdbdb;
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #434343;
}
